<nav class="main-navbar">
    <div class="logo">
        <img src="/assets/img/Group 182 (3).png" alt="Logo Z4">
    </div>
    <ul class="nav-list">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#sobre">Quem somos</a></li>
        <li><a href="#servicos">Servicos</a></li>
        <li><a href="#treinador">Treinador</a></li>
        <li><a href="#preços">Preços</a></li>
        <li><a href="#contato">Contato</a></li>
    </ul>
    <a href="http://localhost:3000" target="_blank" class="junte-se-btn">
        <button class="btn-join-us">Área do Atleta</button>
    </a>
    <div class="hamburguer-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
