<section class="home" id="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/assets/img/z4todos.png" alt="Atletas da Z4 Performance" class="slide-image">
            </div>
            <div class="swiper-slide">
                <img src="/assets/img/4.png" alt="Treino funcional ao ar livre" class="slide-image">
            </div>
            <div class="swiper-slide">
                <img src="/assets/img/banner3.jpeg" alt="Atletas correndo na rua" class="slide-image">
            </div>
        </div>
    </div>

    <div class="home-overlay"></div>

    <div class="swiper-pagination home-pagination"></div>

    <div class="banner">
        <div class="banner-conteudo">
            <div class="text-reveal-container">
                <h1 class="animated-text"></h1> 
            </div>
        </div>
    </div>
</section>
